*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    height:100%;
    width:100%;

}
#nav{
    display: flex;

    height:9%;
    width:100%;
    /* background-color: red; */

}
#logo{
    height:100%;
    width:95%;
    /* background-color: blue; */
    display:flex;
    padding-top:0.8vw ;
    margin-left: 0.8vw;

}
#c1{
    height:1.5vw;
    width:1.5vw;
    border-radius: 50%;
    background-color: black;
}
#c2{
    height:1.5vw;
    width:1.5vw;
    border-radius: 50%;
    background-color: black;
}
#matter{
margin-right:3vw;
/* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 10%;;
    margin-top: 1vw;
    font-size: 0.9vw;
    height:100%;  
    width:50%;
    display:flex;
    justify-content: flex-end;
    justify-content: space-between;

}
#nav1{
    font-weight: 0.7vw;
    display: flex;
    height: 8vw;
    width:60%;
    /* background-color: aqua; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    margin-left: 1vw;
    font-size: 1vw;
}
#trendline{
    flex-shrink: 0;
    margin-top: 1vw;
    height:30%;
    width:50%;
    /* background-color:blue; */
    display:flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;


}
#hl{
    flex-shrink: 0;
    /* padding-bottom:1.59vw; */
    margin-top: 1vw;
    height:30%;
    width:50%;
    /* background-color:red; */
    display:flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;

}
#hl h6{
    font-weight: 1;
    font-size: 9vw;
    /* margin-left: 2vw; */

}
#jw{
    margin-left:7vw;
    flex-shrink: 0;
    /* padding-bottom:1.59vw; */
    margin-top: 1vw;
    height:30%;
    width:50%;
    /* background-color:red; */
    display:flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;

}
#jw h6{
    font-weight: 1;
    font-size: 9vw;
    /* margin-left: 2vw; */

}
#jw h6{
    white-space: nowrap;
}
#d1{
    font-weight:1000;
}
#d2{
    margin-left: 2vw;
}
#d2 p{
    font-size: 100;

}
#d2 h6{
    font-weight:1;
    font-size: 9vw;
}

#card{
    display:flex;
    flex-wrap:nowrap;
    /* background-color: skyblue; */
/* flex-shrink: 0; */
overflow-x: auto;
}
#card::-webkit-scrollbar{
    /* display: none; */
    background-color:transparent;
  height:0.6vw;  
  width:5px;

}
#card::-webkit-scrollbar-thumb{
    background-color: rgb(241, 101, 62);
    
}
#image{
    height:90%;
    width:100%;
    display:flex;
    overflow-x: auto;
    /* overflow: hidden; */

    flex-wrap: nowrap;

}
#image::-webkit-scrollbar-thumb{
    background-color: rgb(241, 101, 62);
}
#image::-webkit-scrollbar-thumb{
    background-color: transparent;
}
#image img{
    overflow: hidden;
    flex-shrink: 0;
    width:70%;
    height:100%;
    object-fit: cover;
    overflow-x: auto;
    
}
